:root {
    --first-color: #07a4e9;
    --first-color-light: #9bd6ec;
    --black-color: #000000;
    --white-color: #ffffff;
    --background-color: #dedede;
    --background-color-light: #e9e7e7;
}

/* Style for the top products section */
.TopSellingBox h3{
    font-size: 24px;
    padding-bottom: 10px;
    margin-bottom: 35px;
    color: var(--black-color);
    font-weight: 600;
    position: relative;
}

.TopSellingBox h3:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: rgb(185, 184, 184);
}

.TopSellingBox h3:before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 30%;
    height: 3px;
    background-color: var(--first-color);
    z-index: 1;
}

/* .TopSellingBox .items{
    width: 90%;
    border: 1px solid rgb(185, 184, 184);
    border-radius: 10px;
    padding: 10px;
} */

.TopSellingBox .items{
    padding: 30px 0px;
    padding-left: 20px;
    position: relative;
    transition: all 0.2s ease-in-out;
}
.TopSellingBox .items .img{
    width: 20%;
}

.TopSellingBox .items .info{
    width: 80%;
    margin-left: 20px;
}

.TopSellingBox .items .info a{
    text-decoration: none;
    color: var(--black-color);
}

.TopSellingBox .items .info h4{
    font-size: 16px;
    opacity: 0.9;
}

.TopSellingBox .items:hover{
    transform: translateY(-5px);
    cursor: pointer;
}