:root {
    --first-color: #07a4e9;
    --first-color-light: #9bd6ec;
    --black-color: #000000;
    --white-color: #ffffff;
    --background-color: #dedede;
    --background-color-light: #e9e7e7;
}

/* Style for the product section */
.homeProduct {
    padding: 25px 0px; /* Add padding to the top and bottom */
}

/* Styling for the filter tabs */
.filterTab {
    margin-left: auto; /* Pushes the tab list to the right */
    display: flex; /* Arrange tabs in a row */
    justify-content: flex-end; /* Align tabs to the right */
}

/* Styling for each filter tab */
.filterTab li {
    left: 50px; /* Adjust position */
    margin-left: 20px; /* Add spacing between tabs */
    cursor: pointer; /* Change cursor to pointer */
    font-weight: 400; /* Normal text weight */
}

/* Styling for the filter tab links */
.filterTab li a {
    color: var(--black-color); /* Set text color */
    font-size: 14px; /* Set font size */
    text-decoration: none; /* Remove underline */
    position: relative; /* Positioning for hover effect */
}

/* Change tab text color and weight on hover */
.filterTab li a:hover {
    color: var(--first-color); /* Change color on hover */
    font-weight: 600; /* Make text bold */
}

/* Layout for product grid */
.homeProduct .productRow {
    display: flex; /* Arrange products in a row */
    padding: 30px 0px; /* Add padding */
    margin: 0px -15px; /* Adjust margin for spacing */
}

/* Individual product item styling */
.homeProduct .productRow .item {
    width: 20%; /* Set width of each product */
    padding: 0px 15px; /* Add padding between items */
    margin-bottom: 40px; /* Add space below each product */
}


.HomeProductsRow2 .productRow .slick-slide{
    padding: 0px 10px;
}


/* .custom-hr {
    border: 0;           
    height: 5px;       
    background: black; 
    margin: 50px 0;    
  } */

