.productThumb{
    width: 100%;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    overflow: hidden;
    padding: 20px;
    margin-left: 10px;
    cursor: pointer;
}

.productThumb .imgWrapper {
    width: 100%; /* Ensure full width */
    height: auto;
    position: relative; /* Needed for absolute positioning of overlay */
    overflow: hidden;
}

.productThumb .imgWrapper .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease-in-out;
}

.productThumb:hover .overlay {
    opacity: 1; /* Show overlay on hover */
}

.productThumb .overlay ul {
    background: white;
    width: 158px;
    height: 50px;
    border: 2px solid var(--first-color);
    border-radius: 10px;
}
.productThumb .overlay ul li a{
    display: block;
    padding: 10px;
    color: black;
    opacity: 0.8;
}

.productThumb .overlay ul li a:hover{
    color: var(--first-color);
}



/* .productThumb .imgWrapper .overlay{position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; padding: 25px; display: flex; justify-content: center; align-items: center;}
.productThumb .imgWrapper .overlay ul{background: white; width: 100px; height: 40px; border-radius: 5px;} */
.productThumb:hover{box-shadow: 0 13px 15px rgb(0 0 0 / 40%);} 
.productThumb .catName{color: var(--black-color); font-size: 16px;}
.productThumb .title {margin: 10px 0px;}
.productThumb .title a{color: var(--black-color); font-size: 22px;line-height: 25px; font-weight: 600; text-decoration: none;}
.productThumb .brand{color: rgba(0, 0, 0, 0.8);}
.productThumb .brand a{text-decoration: none; color: var(--black-color);}
.productThumb .price{color: var(--first-color); font-size: 25px; font-weight: bold; margin-right: 20px;}
.productThumb .oldPrice{color: var(--black-color); text-decoration: line-through;font-size: 20px; opacity: 0.6;}
.productThumb button{font-size: 20px; color: var(--white-color); background: var(--first-color); border-radius: 5px; padding: 0px 10px; margin-left: 40px; margin-bottom: 5px;} 
.productThumb button:hover{color: var(--first-color); background: var(--background-color); transition: all 0.3s ease-in-out;}



