@import "../../styles/variables.scss";

.catSliderSection {
  width: 100%;
  padding: 40px 0;
  background-color: #f8f9fa;

  .container-fluid {
    padding: 0 15px;
  }

  h3.hd {
    font-size: 22px;
    color: var(--black-color);
    font-weight: 600;
    text-align: left;
    margin: 20px 0; 
  }
}

.catSliderMain {
  .slick-slide {
    padding: 0 10px;
  }

  .catSliderItem {
    cursor: pointer;
    height: auto;
    background: var(--light-color); /* Add a soft background color */
    display: flex;
    flex-direction: column; /* Stack content vertically */
    justify-content: center;
    align-items: center;
    width: 120px; /* Adjust size */
    height: 120px; /* Adjust size */
    padding: 10px; /* Add padding */
    margin: 10px auto; /* Center the circle */
    transition: transform 0.3s ease-in-out;
  }

  .info {
    text-align: center;

    img {
      width: 70%; /* Ensure the image fits well within the circle */
      height: 60%; /* Maintain aspect ratio */
      object-fit: contain;
      overflow: hidden;
      margin: 0 auto; /* Center the image horizontally */
      display: block; /* Ensure proper alignment */
      margin-bottom: 10px; /* Add spacing below the image */
      border: 1px solid var(--background-color); /* Add circular border */
      border-radius: 50%; /* Make the border circular */
      transition: transform 0.3s ease-in-out; /* Smooth scaling effect */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow for depth */

      &:hover {
        transform: translate3d(0, -5px, 0); /* Scale effect on hover */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add shadow for depth */
      }
    }

    h5 {
      font-size: 16px;
      line-height: 1.8;
      color: var(--black-color);
      margin: 0;
      font-weight: 500; /* Match the font weight in the design */
    }

    p {
      font-size: 12px;
      color: rgba(0, 0, 0, 0.7);
    }
  }
}

/* Arrow styles */
.slick-prev,
.slick-next {
  width: 40px;
  height: 40px;
  z-index: 1;

  &:before {
    color: var(--first-color);
    font-size: 30px;
    font-family: slick;
    line-height: 1;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.slick-prev {
  left: -15px;
}

.slick-next {
  right: -15px;
}
