:root {
    --first-color: #07a4e9;
    --first-color-light: #9bd6ec;
    --black-color: #000000;
    --white-color: #ffffff;
    --background-color: #dedede;
    --background-color-light: #e9e7e7;
}

/* -------------------------------- Footer Icons section   --------------------------------- */

.footerWrapper{
    margin-top: 50px;
    padding: 45px 0px;
    width: 100%;
    height: auto;
}

.footerWrapper .footerBoxes .box{
    cursor: pointer;
    background: var(--background-color-light);
    padding: 25px 10px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.footerWrapper .footerBoxes .box span img{
    width: 60px;
    padding-left: 10px;
}
.footerWrapper .footerBoxes .box .info{
    padding-left: 25px;
}

.footerWrapper .footerBoxes .box .info h5{
    font-size: 16px;
    font-weight: 600;
}

.footerWrapper .footerBoxes .box .info p{
    font-size: 14px;
    margin-bottom: 0px;
    opacity: 0.8;
}

.footerWrapper .footerBoxes .box:hover img{
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.footerWrapper .footerBoxes .box:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
}


/* -------------------------------- Footer section   --------------------------------- */



.footer{
    padding: 40px 0px;
    width: 100%;
    height: auto;
}

.footer .p, .footer  a{
    font-size: 18px;
}