@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");


:root {
    --first-color: #07a4e9;
    --first-color-light: #9bd6ec;
    --black-color: #000000;
    --white-color: #ffffff;
    --background-color: #dedede;
  }
  
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
#root {
  zoom: 100%;
}

.transition {
  transition: all 0.3s ease-in-out;
}
.container-fluid {
  padding: 0px 45px;
}

.hd {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
}

/* ----------------- Price Style --------------- */

.price {
  color: var(--first-color);
  font-size: 18px;
  font-weight: bold;
}

.oldPrice {
  color: var(--black-color);
  text-decoration: line-through;
  font-size: 14px;
  opacity: 0.6;
  margin-left: 8px;
}
