@use "../../styles/variable" as *; // Importing variables for colors and other styles

.bannerSection {
    padding: 20px 0;

    .container-fluid {
        padding: 0 15px;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;
    }

    .col {
        padding: 0 10px;
        flex: 1 0 0;
        min-width: 250px;
    }

    .box {
        overflow: hidden;
        border-radius: 15px;
        cursor: pointer;
        transition: all 0.3s ease;
        height: 100%;

        img {
            width: 100%;
            height: auto;
            transition: transform 0.5s ease;
            display: block;

            &:hover {
                transform: scale(1.05);
            }
        }
    }
}
